let kaste = document.createElement("div");
html {
  height: 100%;
  width: 100%;
}
#kaste{
border: 1px solid;
width: 400px;
height: 400px;
background-image: url("background.gif");
background-size: cover; 
background-repeat: no-repeat; 
animation: slide 10s infinite;
background-position: 50% 60%;
color: #858080;
font-family: '04b_03b', monospace;
text-shadow: 2px 2px 2px #050000;
}



#pogaSakt{
position: fixed;
left: 150px;
top: 150px;
background-color: #e67e22;
color: white;
width: 100px;
height: 100px;
font-size: larger;
font-weight: bold;
border-radius: 10px;
font-family: Evo2;
text-shadow: 2px 2px 2px #050000;
}
#pogaSakt:hover{
background-color: #ff7700;

}

#noteikumi{
position: fixed;
left: 150px;
top: 256px;
background-color: #e67e22;
color: white;
width: 100px;
height: 50px;
font-size: larger;
font-weight: bold;
font-family: Evo2;
border-radius: 10px;
text-shadow: 2px 2px 2px #050000;
}
#noteikumi:hover{
background-color: #ff7700;
}

#laukums{
border: 1px solid;
}
#punktiUzraksts{
  position: fixed;
  left: 320px;
}
#pretiniekiUzraksts{
  position: fixed;
  left: 145px;
  top: 40px;
}
#pretiniekaDzivibas{
  position: fixed;
  left: 140px;
  top: 50px;
}
#laukums{
  border: 3px solid;
  position: fixed;
  left: 135px;
  top: 120px;
  background-image: url('background.jpg');
  background-size: 200%;
  background-repeat: no-repeat;
}

#pretiniekaUzbrukums{
  position: fixed;
  left: 20px;
  top: 270px;
}

#speletajaUzbrukums{
  position: fixed;
  left: 20px;
  top: 290px;
}

#speletajaDzivibas{
  position: fixed;
  left: 20px;
  top: 330px;
}

#Eliksiri{
  position: fixed;
  left: 20px;
  top: 350px;
}

#pogaU{
position: fixed;
left: 230px;
top: 330px;
background-color: #e67e22;
color: white;
width: 50px;
height: 20px;
font-size: medium;
font-weight: bold;
font-family: Evo2;
border-radius: 10px;
text-shadow: 2px 2px 2px #050000;
}
#pogaU:hover{
background-color: #ff7700;
}

#pogaT{
position: fixed;
left: 290px;
top: 330px;
background-color: #e67e22;
color: white;
width: 50px;
height: 20px;
font-size: medium;
font-weight: bold;
font-family: Evo2;
border-radius: 10px;
text-shadow: 2px 2px 2px #050000;
}
#pogaT:hover{
background-color: #ff7700;
}

#pogaE{
position: fixed;
left: 230px;
top: 360px;
background-color: #e67e22;
color: white;
width: 50px;
height: 20px;
font-size: medium;
font-weight: bold;
font-family: Evo2;
border-radius: 10px;
text-shadow: 2px 2px 2px #050000;
}
#pogaE:hover{
background-color: #ff7700;
}


#pogaM{
position: fixed;
left: 290px;
top: 360px;
background-color: #e67e22;
color: white;
width: 50px;
height: 20px;
font-size: medium;
font-weight: bold;
font-family: Evo2;
border-radius: 10px;
text-shadow: 2px 2px 2px #050000;
}
#pogaM:hover{
background-color: #ff7700;
}

#pogaP{
position: fixed;
left: 260px;
top: 300px;
background-color: #e67e22;
color: white;
width: 50px;
height: 20px;
font-size: medium;
font-weight: bold;
font-family: Evo2;
border-radius: 10px;
text-shadow: 2px 2px 2px #050000;
}
#pogaP:hover{
background-color: #ff7700;
}


let kaste = document.createElement("div");
html {
  height: 100%;
  width: 100%;
}
#kaste3{
border: 1px solid;
width: 400px;
height: 400px;
background-image: url("background.gif");
background-size: cover; 
background-repeat: no-repeat; 
animation: slide 10s infinite;
background-position: 50% 60%;
}

#pogaBeigt{
position: fixed;
left: 155px;
top: 110px;
background-color: #e67e22;
color: white;
width: 90px;
height: 40px;
font-size: large;
font-weight: bold;
font-family: Evo2;
border-radius: 10px;
text-shadow: 2px 2px 2px #050000;
}
#pogaBeigt:hover{
background-color: #ff7700;
}

#Tuzaudeji{
  position: fixed;
  left: 145px;
  top: 50px;
  font-size: larger;
  font-weight: bold;
  color: #858080;
  font-family: '04b_03b', monospace;
  text-shadow: 2px 2px 2px #050000;
}

#uzvaraUzraksts{
  position: fixed;
  left: 140px;
  top: 50px;
  font-size: larger;
  font-weight: bold;
  color: #858080;
  font-family: '04b_03b', monospace;
  text-shadow: 2px 2px 2px #050000;
}




#atpakal{
position: fixed;
left: 155px;
top: 380px;
background-color: #e67e22;
color: black;
width: 60px;
height: 20px;
border-radius: 1px;
}
#atpakal:hover{
background-color: #ff7700;
}
